In [1]:
# 01_data_cleaning.ipynb

import pandas as pd
import os

# Set path to dataset
DATA_PATH = "../data/sample_sales.csv"

# Load the dataset
df = pd.read_csv(DATA_PATH)

# Preview
print("Initial rows:")
display(df.head())

# Data types
print("Data types:")
print(df.dtypes)

# Handle missing values (example strategy)
print("Missing values:")
print(df.isnull().sum())

# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Drop rows with missing values (or handle differently)
df_clean = df.dropna()

# Create additional columns if needed (e.g., Month)
df_clean['Month'] = df_clean['Date'].dt.to_period('M')

# Save cleaned version
CLEANED_PATH = "../data/cleaned_sales.csv"
df_clean.to_csv(CLEANED_PATH, index=False)

print(f"Cleaned data saved to: {CLEANED_PATH}")

Initial rows:

         Date   Product Region  Units Sold  Unit Price  Revenue
0  2025-03-13  Widget A  North           9       81.86   736.74
1  2025-06-18  Gadget X   East          36       55.37  1993.32
2  2025-05-23  Widget B  South          50       61.15  3057.50
3  2025-02-18  Widget A   East          41       61.08  2504.28
4  2025-02-02  Widget A  South          12       77.25   927.00

Data types:
Date           object
Product        object
Region         object
Units Sold      int64
Unit Price    float64
Revenue       float64
dtype: object
Missing values:
Date          0
Product       0
Region        0
Units Sold    0
Unit Price    0
Revenue       0
dtype: int64
Cleaned data saved to: ../data/cleaned_sales.csv